/* --------------------- Global --------------------- */
* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background-color: black;
}

section {
    height: 100vh;
}

h2, h1, p {
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: #FFC37D;
    margin: 0;
}

footer {
    height: 30vh;
    text-align: center;
    color: white;
    padding: 100px;
}

.title {
    font-family: "Sexy Queen", serif;
    font-size: 28vh;
    font-style: italic;
    text-align: center;
    text-shadow: 0 5px 20px #000000;
}

.small-text {
    font-family: "Rubik", serif;
    font-weight: 200;
    font-size: 2.8vh;
}

.medium-text {
    text-align: center;
    font-family: "Rubik", serif;
    font-size: 6vh;
}

.asterisk {
    color: red;
}

.button {
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: "Rubik", serif;
    background: #FFC37D;
    padding: 10px 40px;
    border-radius: 15px;
    border: 0;
    box-shadow: 0 5px 10px #000000;
    cursor: pointer;
    transition: all 0.5s;
}

.button:hover {
    background: #ff5252;
}

/* --------------------- Home --------------------- */
#home {
    background-image: url("../resources/home-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}

#home .content .subtitle {
    font-size: 40px;
}

.order {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}

/* --------------------- Menu --------------------- */
#menu {
    background-image: url("../resources/stone-background.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menu .carousel {
    margin-top: 200px;
}

#menu .product-container {
    margin: 0 50px;
    display: grid;
    place-items: center;
}

#menu .product-img {
    width: 400px;
}

#menu .product-name {
    position: absolute;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 100;
    display: inline;
    padding: 10px 15px;
    margin-bottom: 30px;
    background: black;
    font-size: 3.8vh;
}

#menu .product-price {
    margin-top: 15px;
    font-style: italic;
}

/* --------------------- Info --------------------- */
#info {
    background-image: url("../resources/stone-background-flipped.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#info .content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20vh;
    box-sizing: border-box;
    display: flex;
}

#info .image-container {
}

#info .content .image-container img {
}

#info .content .text-container {
    text-align: left;
    left: 0;
}

#info .content .title {
    font-weight: bold;
}