/* ------------------ Imports ------------------ */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");

* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    background-color: black;
}

section {
    height: 100vh;
}

h1, p {
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    height: 30vh;
    text-align: center;
    background-color: black;
    color: white;
    padding: 100px;
}

#home {
    background-image: url("../resources/home-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .content {
    max-width: 650px;
    padding-left: 10vh;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#home .content .title {
    font-size: 100px;
    font-style: italic;
}

#home .content .subtitle {
    font-size: 40px;
}

.asterisk{
    color: red;
}

/* 'order.php'file elements style*/


.pizza-menu-img{
    float: left;
    /*padding: ...*/
}